body {

    background-color: slategray;
}

h1 {

    font-family: tahoma;
    color: aliceblue;
    text-align: center;
    margin-top: 30px;

}

h2 {

    font-family: tahoma;
    color: aliceblue;
    text-align: center;
    margin-top: 60px;

}

.center {
    
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFA500;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;

    border: 5px solid rgb(11, 133, 255);
    border-radius: 10px;
    background-color: rgba(11, 133, 255, 0.432);

}

.borda {

    font-family: tahoma;
    margin: 15px;
    color: #FFFFFF;
    font-size: 20px;
    border: 5px solid #FFA500;
    background-color: #FFA500;
    border-radius: 5px;
}

input[type="button"] {

    width: 180px;
    padding: 5px;
    margin: 5px;
    background-color: #FFA500;
    border: 1px solid #a06b0a;
    border-radius: 10px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: aliceblue;

}

.title {

    font-family: tahoma;
    color: aliceblue;
    text-align: center;
    margin-top: 30px;

}

.bloco {

    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;

    width: 40%;
    text-align: center;
    border: 3px solid black;
    border: 5px solid rgb(11, 133, 255);
    border-radius: 10px;
    background-color: rgba(11, 133, 255, 0.432);

}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
    font-family: verdana;
    font-size: 15px;
    color: aliceblue;

}

input[type="text"],
input[type="date"],
input[type="password"] {
    width: 180px;
    padding: 5px;
    margin: 5px 0;
    display: inline-block;
    font-family: tahoma;

}


input[name="submit"] {

    width: 180px;
    padding: 5px;
    margin: 5px;
    background-color: #FFA500;
    border: 1px solid #a06b0a;
    border-radius: 10px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: aliceblue;

}

.bloco_1 {

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    width: 40%;
    text-align: center;
    border: 3px solid black;
    border: 5px solid rgb(11, 133, 255);
    border-radius: 10px;
    background-color: rgba(11, 133, 255, 0.432);

}

input[value="Sair"] {

    width: 180px;
    padding: 5px;
    margin: 5px;
    background-color: #FFA500;
    border: 1px solid #a06b0a;
    border-radius: 10px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: aliceblue;

}