body {
    background: #000dff;
    background: linear-gradient(260deg, rgba(0, 13, 255, 1) 0%, rgba(255, 157, 0, 0.58) 47%, rgba(255, 0, 0, 0.73) 99%);
    display: flex;

}

.header {
    padding: 7px;
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    color: rgb(3, 3, 3);
    margin-bottom: 4%;
    


}

.container {
    background-color: rgb(237, 243, 217);
    border: solid 3px black;
    border-radius: 30px;
    width: 20%;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
}

.divTable{
    padding-left: 3%;
    font-family: tahoma;
    color: rgb(0, 0, 0);

}

.modal-container {

    color: rgb(2, 2, 2);
    font-family: tahoma;
    font-size: 20px;
    
}

.modal {
    padding: 4%;
}

input {
    width: 90%;
    padding: 2%;
    margin: 2%;

}

input[type="text"] {

    background-color: aliceblue;
    font-family: tahoma;
    border: 2px solid rgb(117, 116, 116);
    border-radius: 5px;
    font-size: 15px;
    color: black;

}

input[type="number"] {

    background-color: aliceblue;
    font-size: 15px;
    border: 2px solid rgb(117, 116, 116);
    border-radius: 5px;
    color: black;

}

button[type="submit"] {

    background-color: rgb(231, 202, 241);
    font-family: tahoma;
    
    margin-top: 25px;
    font-size: 20px;
    width: 200px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);


}

button:hover {
    background:black;
    color: rgb(206, 140, 229);;
    transition: 0.4s;
    border: 2px solid rgb(187, 0, 255);
  }